*{
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

body {
    background-color: #e4fefc;
}

p {
    color: #004564;
    font-size: 500%;
    text-align: center;
}
#nav-link {
    padding: 5px;
    margin: 4px;
    border: 2px;
    color: #ffc5d3;
    font-size: 30px;
    display: block;
    float:left;
} 

nav ul li a {
    margin: 4px;
    padding: 5px;
    border: dotted #00ffff91 3px;
    color: #3b3a4fb1;
    background-color: #aaede84d ;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

nav {
    padding: 8px;
    margin: 0px;
    background-color: #81cfcf;
    position: sticky;
    top: 0;
    width: calc(100% - 16px);
    resize: both;
    overflow: auto;
}

nav a:visited {
    color: #3b3a4fb1;
    background-color:#aaede84d ;
}
nav a:hover {
    color: #4e4d69be;
    background-color: #b7fffa5c;
}

nav a:focus {
    color: #4a3a23;
    background-color: #588063;
}